<section class="cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container">
      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>乐天经济圈服务</h2>
          <p class="color-contrast-medium">每月都需要在第一次使用乐天服务之前注册，如果已经使用了服务再注册就不能获得1000积分了</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">1号</span>
            <a href="https://event.rakuten.co.jp/group/sbc/" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>新生银行</h2>
          <p class="color-contrast-medium">向新生银行每月转账8次可获得200个积分（T积分，D积分，nanaco），每月都需要注册</p>
          
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">月初第一个工作日</span>
            <a href="https://www.shinseibank.com/service/point/?intcid=mega_prg_000_06" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>乐天银行</h2>
          <p class="color-contrast-medium">向乐天银行每月转账5次可获得150个乐天积分</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">月初第一个工作日</span>
            <a href="https://www.rakuten-bank.co.jp/campaign/settlement-program.html?scid=mi_rbn_kojin_160301_3" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>[nanaco]イトーヨーカドー</h2>
          <p class="color-contrast-medium">8のつく日はハッピーデー nanacoご利用で5％割引！！</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">每月8，18，28日</span>
			<a href="https://www.nanaco-net.jp/cp/iy_8days.html" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>[waon]イオンモール専門店</h2>
          <p class="color-contrast-medium">イオンモール専門店限定　0のつく日はポイント5倍！</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">每月10，20，30日</span>
			<a href="https://www.waon.net/campaign/otoku/20200401_point5bai/" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>[楽天ポイント]楽天市場</h2>
          <p class="color-contrast-medium">乐天会员日，在乐天市场购物根据会员等级最高4倍积分</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">每月18日</span>
			<a href="https://event.rakuten.co.jp/campaign/rank/point/" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>楽天ポイントクラブ</h2>
          <p class="color-contrast-medium">每日签到领积分，打开app底部有获取积分广告，点击左侧菜单的楽天リワード(ポイントミッション)三次可在获得一个积分</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">每天</span>
			<a href="https://apps.apple.com/jp/app/%E6%A5%BD%E5%A4%A9%E3%83%9D%E3%82%A4%E3%83%B3%E3%83%88%E3%82%AF%E3%83%A9%E3%83%96-%E6%A5%BD%E5%A4%A9%E3%83%9D%E3%82%A4%E3%83%B3%E3%83%88%E7%AE%A1%E7%90%86%E3%82%A2%E3%83%97%E3%83%AA/id641501350" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>楽天スーパーポイントスクリー‪ン‬</h2>
          <p class="color-contrast-medium">每天3个积分，11:00~14:59午间广告，18:00~23:59晚间广告，一天可以获取固定5个积分，偶尔也有额外的广告推送</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">每天</span>
			<a href="https://apps.apple.com/jp/app/%E6%A5%BD%E5%A4%A9%E3%82%B9%E3%83%BC%E3%83%91%E3%83%BC%E3%83%9D%E3%82%A4%E3%83%B3%E3%83%88%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3/id1094170339" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>楽天ウェブ検索</h2>
          <p class="color-contrast-medium">每天搜索30次可以获得3~5个不等积分，通常都是4个，需要使用chrome浏览器，要安装chrome的插件才能获取积分</p>

          <div class="flex justify-between items-center">
			<span class="cd-timeline__date">每天</span>
			<a href="https://websearch.rakuten.co.jp/" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>楽天Infoseek</h2>
          <p class="color-contrast-medium">积分邮件</p>

          <div class="flex justify-between items-center">
			<span class="cd-timeline__date">每天</span>
			<a href="https://member.pointmail.rakuten.co.jp/box" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>楽天チェッ‪ク</h2>
          <p class="color-contrast-medium">在app内指定地点使用蓝牙打开成功可以获得积分，最常见的就是去罗森收银台附近使用蓝牙签到</p>

          <div class="flex justify-between items-center">
			<span class="cd-timeline__date">每天</span>
			<a href="https://apps.apple.com/jp/app/%E6%A5%BD%E5%A4%A9%E3%83%81%E3%82%A7%E3%83%83%E3%82%AF/id840780040" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>LINEレシートにレシート</h2>
          <p class="color-contrast-medium">购物小票可以保留，用LINEレシートにレシートapp扫描上传可以获得5个Line积分，药妆店，邮局的小票无效，貌似是因为隐私的问题无法获得积分</p>

          <div class="flex justify-between items-center">
			<span class="cd-timeline__date">每天</span>
			<a href="https://receipt.line.me/lp/ConomiReceipt.html" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--location">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>新生银行</h2>
          <p class="color-contrast-medium">新生银行会发送积分邮件，点击邮件内的链接可以获得积分，邮件积分不太多（3个）</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">月中</span>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>乐天银行</h2>
          <p class="color-contrast-medium">最后一天登录乐天银行，キャンペーン等一覧=>現金プレゼントサービス，点击广告获得现金，次月将以现金方式汇入账户，每月可获得的数量不等</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">月末</span>
            <a href="https://www.rakuten-bank.co.jp/" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>乐天信用卡</h2>
          <p class="color-contrast-medium">最后一天登录乐天信用卡，ポイントサービス=>クリックしてポイント！，点击广告获得乐天积分</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">月末</span>
            <a href="https://www.rakuten-card.co.jp/" class="btn btn--subtle" target="_blank">Go</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->
    </div>
</section> <!-- cd-timeline -->