---
layout: base
---

<div class="mt-5 pt-5"></div>
{% include calc.html %}

<div class="container pt-4" role="main" style="max-width: 900px;">
  <div class="row justify-content-center">
    <div class="col-12">
      <style>
        .page-content h1, .page-content h2, .page-content h3, .page-content h4 {
          color: #0066cc;
          margin-top: 1.5rem;
          margin-bottom: 1rem;
        }
      </style>
      <h1 class="font-weight-bold mb-5" style="color: #0066cc;">{{ page.title }}</h1>
      <div class="page-content">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}
      </div>

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</div>
